<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS Hadoop Map Reduce</title>
</head>
<body>
<form action="/hadoop">
    Enter height range: <br>
    From: <input type="text" name="from"> To: <input type="text" name="to"><br>
    Enter Zip code:<input type="text" name="zip"><br>
    Enter Mapper Count between 1 to 12: <input type="text" name="map"> <br>
    Enter Reducer Count between 1 to 8<input type="text" name="reduce"><br>
    <input type="submit">
</form>
</body>
</html>